<h1>Créditos</h1>

<p>
Esta práctica ha sido desarrollada por Sandra Romero Miranda y Víctor Clemente Teruel.
La dirección de github es: <a href="https://github.com/victorysandra31/quiz_2017">Enlace a GitHub</a>
</p>

<img src="/images/sandra.jpg" width="480" height="540"/>
<img src="/images/victor.jpg" width="480" height="540"/>
